html, body {
	padding: 0;
	width: 100%;
	font-family: "Cuprum", "Tahoma", serif;
	font-size: 17px;
	font-weight: 400;
	background: #f3f7f8;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}


.main-header {
	height: 42px;
	background: #293449;
}

.main-header--wrapper {
	width: 940px;
	margin: 0 auto;
}

.user-block {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-align: start;
	    -ms-flex-align: start;
	        align-items: flex-start;
}

.user-block__logo {
	display: block;
	width: 220px;
	max-height: 65px;
	padding: 9px 5px;
	font-size: 24px;
	font-weight: 400;
	line-height: 24px;
	color: #ffffff;
	border-bottom: 5px solid #b52933;
	text-transform: uppercase;
	text-align: center;
	background: #ee3643;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	overflow: hidden;
}

.user-block__logo:hover {
	background: #ca2c37;
}

.user-block__logo:active {
	background: #ba2732;
	border-color: #8e1e26;
}


.user-block__search-field {
	width: 270px;
	padding: 11px 0 11px 50px;
	color: #293449;
	border: none;
	font-family: inherit;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	background: #293449 url("../img/search-icon.svg") no-repeat 18px 13px;
	cursor: pointer;
}

.user-block__search-field:hover {
	color: #212a3a;
	background: #212a3a url("../img/search-icon-hover.svg") no-repeat 18px 13px;
}

.user-block__search-field:focus {
	outline: none;
  border-bottom: 1px solid #ffffff;
	background: #fff url("../img/search-icon-focus.svg") no-repeat 18px 13px;
}

::-webkit-input-placeholder {
	color: #ffffff;
	font-size: 17px;
}

::-moz-placeholder {
	color: #ffffff;
	font-size: 17px;
}	/* Firefox 19+ */

:-moz-placeholder {
	color: #ffffff;
	font-size: 17px;
}	/* Firefox 18- */

:-ms-input-placeholder {
	color: #ffffff;
	font-size: 17px;
}

:hover:-ms-input-placeholder {
	color: #ffffff;
	font-size: 17px;
}

.user-block__user-list {
	width: 450px;
	padding: 0;
	margin: 0;
	list-style: none;
}

.user-block__user-list li {
	display: inline-block;
	vertical-align: top;
	margin-left: -3px;
}

.user-block__item {
	display: block;
	width: 150px;
	max-height: 42px;
	padding: 11px 0 12px 0;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	text-decoration: none;
	color: #ffffff;
	overflow: hidden;
	cursor: pointer;
}

.bookmark-item {
	padding-left: 47px;
	background: url("../img/bookmark.svg") no-repeat 19px 12px;
}

.bookmark-item:hover {
	background: #212a3a url("../img/bookmark-hover.svg") no-repeat 19px 12px;
}

.bookmark-item:active {
	opacity: 0.6;
	background: #161d29 url("../img/bookmark-active.svg") no-repeat 19px 12px;
}

.basket-item {
	padding-left: 51px;
	background: url("../img/basket.svg") no-repeat 20px 12px;
}

.basket-item:hover {
	background: #212a3a url("../img/basket-hover.svg") no-repeat 20px 12px;
}

.basket-item:active {
	opacity: 0.6;
	background: #161d29 url("../img/basket-active.svg") no-repeat 20px 12px;
}

.order-item {
	padding-left: 21px;
	background: #63a63e;
}

.order-item:hover {
	background: #5fbb2d;
}

.order-item:active {
	opacity: 0.51;
	background: #518534;
}


.user-block__desc {
	width: 200px;
	margin: 44px 70px 0 53px;
	font-size: 16px;
	line-height: 23px;
	font-style: italic;
	color: #ee3643;
}

.user-block__adress {
	width: 270px;
	margin-top: 42px;
}

.adress__phone {
	display: block;
	margin-bottom: 4px;
	padding: 7px 50px 7px 68px;
	text-decoration: none;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border: 3px solid #feffff;
	font-size: 21px;
	color: #ee3643;
	background: url("../img/phone-icon.svg") no-repeat 4% 50%;
}

.adress__street {
	margin-left: 7px;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	color: #32425c;
}

.user-block__customer {
	width: 300px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin: 41px 0 0 47px;
}

.user-block__customer a {
	display: block;
	padding: 10px 32px 10px 0;
	font-size: 21px;
	font-weight: 400;
	color: #000000;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	text-decoration: none;
}

.user-block__customer a:hover {
	color: #ee3643;
}

.user-block__customer a:active {
	color: rgba(0, 0, 0, 0.3);
}

.user-block__customer .customer__enter {
	width: 121px;
	margin: 0 11px 0 16px;
	padding-left: 50px;
	background: #ffffff url("../img/enter-icon.svg") no-repeat 17% 50%;
}

.user-block__customer .customer__enter:hover {
	background: #ffffff url("../img/enter-icon-hover.svg") no-repeat 17% 50%;
}

.user-block__customer .customer__enter:active {
	background: #ffffff url("../img/enter-icon.svg") no-repeat 17% 50%;
}

.user-block__customer .customer__registration {
	width: 151px;
	padding-left: 26px;
	background: #ffffff;
}

.user-block--wrapper {
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.user-block__customer .customer__authorize {
	padding-left: 46px;
	padding-right: 36px;
	background: url("../img/user-icon.svg") no-repeat 5% 50%,
							#ffffff;
}

.customer__exit {
	display: block;
	width: 17px;
	background: url("../img/enter-icon.svg") no-repeat 0% 50%,
							#ffffff;
}

.customer__exit:hover {
	background: url("../img/enter-icon-hover.svg") no-repeat 0% 50%,
							#ffffff;
}

.customer__exit:active {
	background: url("../img/enter-icon.svg") no-repeat 0% 50%,
							#ffffff;
}

.user-block__customer .customer__authorize:hover {
	color: #000000;
	background: url("../img/user-icon-hover.svg") no-repeat 5% 50%,
							#ffffff;
}

.user-block__customer .customer__authorize:active {
	color: rgba(0, 0, 0, 0.3);
	background: url("../img/user-icon.svg") no-repeat 5% 50%,
							#ffffff;
}


.customer-list {
	padding: 0;
	margin: 8px 0 0 17px;
	list-style: none;
}

.customer-list li {
	position: relative;
	display: inline-block;
	margin-right: 28px;
	vertical-align: top;
}

.customer-list li:first-child::after {
	content: "";
	position: absolute;
	top: 8px;
  right: -26%;
	width: 4px;
	height: 4px;
	border-radius: 50%;
	background: #32425c;
}

.customer-list a {
	padding: 0;
	text-decoration: underline;
	font-size: 16px;
	color: #32425c;
}

.main-navigation {
	margin-top: 40px;
	background: #32425c;
	border-bottom: 5px solid #293449;
}

.main-navigation__list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 0 0 22px;
	padding: 0;
	list-style: none;
}

.main-navigation__list a {
	display: block;
	margin-right: 1px;
	padding: 19px 30px;
	font-size: 17px;
	font-weight: 400;
	line-height: 17px;
	color: #ffffff;
	text-decoration: none;
}

.main-navigation__list a:hover {
	background: #293449;
}

.main-navigation__list a:active {
	color: rgba(255, 255, 255, 0.5);
}


.main-content {
	width: 100%;
	margin-top: 278px;
	background: #ffffff;
}

.main-content-wrapper {
	width: 940px;
	margin: 0 auto;
	padding-top: 60px;
}

.catalog {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 409px;
}

.catalog--left-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 620px;
}

.catalog--right-column {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	width: 300px;
	margin-left: 20px;
}

.catalog__item {
	position: relative;
	width: 300px;
	height: 123px;
	margin-bottom: 20px;
}

.catalog-materials {
	background: url("../img/paint.png") no-repeat 83% 50%,
							#ffbf47;
}

.catalog-instruments {
	background: url("../img/instrument.png") no-repeat 88% 50%,
							#3bbce3;
}

.catalog-cars	{
	background: url("../img/cars.png") no-repeat 86% 50%,
							#dc91d8;
}

.catalog-sale	{
	background: url("../img/sale.png") no-repeat 81% 50%,
							#8ed78f;
}


.catalog-delivery	{
	background: url("../img/delivery.png") no-repeat 86% 50%,
							#ffc047;
}

.catalog-materials::after {
	content: "";
	position: absolute;
	width: 60px;
	height: 59px;
	top: 0;
	right: 0;
	background: url("../img/new.png") no-repeat;
}

.catalog__item__title {
	display: block;
	margin: 20px 0 0 22px;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	color: #ffffff;
}

.catalog__item__btn {
	display: block;
	width: 135px;
	margin: 13px 0 0 22px;
	padding: 10px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	background: rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none; 
}

.catalog__item__btn:hover {
	background: rgba(0, 0, 0, 0.2);
}

.catalog__item__btn:active{
	background: rgba(0, 0, 0, 0.3);
}

.slider {
	position: relative;
	width: 620px;
	height: 266px;
	color: #ffffff;
}

.slider input {
	display: none;
}

.slide {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	width: 100%;
	height: 100%;
	-webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.slide-title {
	margin: 0;
	padding: 23px 0 0 25px;
	text-transform: uppercase;
	font-size: 36px;
	line-height: 30px;
	font-weight: 700;
}

.slide-text {
	font-family: "PT Sans", "Tahoma", serif;
	margin: 8px 0 0 25px;
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
}

.slide:first-child {
	background: url("../img/slider-first-image.jpg") no-repeat;
}

.slide:last-child {
	background: url("../img/slider-second-image.jpg") no-repeat;
}

.slide__btn {
	display: block;
	width: 196px;
	padding: 11px 48px;
	margin: 120px 0 0 26px;
	border-radius: 3px;
	color: #ffffff;
	font-size: 14px;
	line-height: 18px;
	font-weight: 400;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	text-transform: uppercase;
	text-decoration: none;
	background: #ee3643;
}

.slide__btn:hover {
	background: #ca2c37;
}

.slide__btn:active {
	background: #ba2732;
}

.slider-controls {
	position: absolute;
  z-index: 100;
  bottom: 27px;
  left: 67%;
  margin-left: -122px;
  text-align: center;
}

.slider-controls label {
	display: inline-block;
	width: 4px;
	height: 4px;
	margin: 0 3px;
	background: #ffffff;
	border: 3px solid #ffffff;
	vertical-align: top;
	border-radius: 50%;
	cursor: pointer;
	 -webkit-transition: background ease-in-out .5s;
	-o-transition: background ease-in-out .5s;
	transition: background ease-in-out .5s;
}

 #btn1:checked ~ .slider-controls label[for="btn1"]  {
 	background: #ee3643;
}

 #btn2:checked ~ .slider-controls label[for="btn2"]  {
 	background: #ee3643;
}

#btn1:checked ~ .slides .slide:first-child{
	display: block;
}


#btn2:checked ~ .slides .slide:last-child {
	display: block;
}


  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.slide-left {
	position: absolute;
	z-index: 100;
	top: 43%;
	left: 25px;
	width: 22px;
	height: 40px;
	background: url("../img/icon-left.png") no-repeat;
}

.slide-right {
	position: absolute;
	z-index: 100;
	right: 20px;
	top: 42%;
	width: 22px;
	height: 40px;
	background: url("../img/icon-right.png") no-repeat;
}


.products {
	margin-top: 50px;
}

.products__popular,
.manufacturers__popular {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	width: 100%;
	padding-bottom: 22px;
	background: #f9f5f0;
}

.popular__title,
.manufacturers__title {
	margin: 32px 0 0 27px;
	font-size: 30px;
	font-weight: 400;
	line-height: 30px;
	color: #32425c;
	text-transform: uppercase;
}

.popular__btn,
.manufacturers__btn {
	display: block;
	width: 253px;
	height: 39px;
	margin: 27px 24px 0 0;
	padding: 10px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	background: #ee3643;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none; 
}

.popular__btn:hover,
.manufacturers__btn:hover,
.credit__btn:hover,
.features__btn:hover {
	background: #ca2c37;
}

.popular__btn:active,
.manufacturers__btn:active,
.credit__btn:active,
.active {
	background: #ba2732;
}


.drills {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	font-family: "PT Sans", "Tahoma", sefif;
}


.drills__item {
	position: relative;
	border: 1px solid #e5e5e5;
	width: 218px;
	margin-top: 25px;
	text-align: center;
}

_:-ms-fullscreen, :root .ie {
	margin-left: -20px;
}

.drills__item:hover,
.manufacturers__item:hover {
	-webkit-box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 41px 0px rgba(0,0,0,0.75);
}

.drills_flag {
	position: absolute;
	z-index: 100;
	top: -1px;
	right: -1px;
	height: -1px;
	width: 60px;
	height: 60px;
}

.flag-new {
	background: url("../img/new.png") no-repeat;
}

.hidden {
	visibility: hidden;
}

img[alt="BFG-3000"] {
	margin: 26px 10px 0 0;
}

img[alt="BFG-6000"] {
	margin: 20px 16px 0 0;
}

img[alt="BFG-2000"] {
	margin: 26px 22px 0 0;
}

.drills_flag {
	position: absolute;
}

.drills__img {
	width: 218px;
	height: 164px;
}

.drills__title {
	display: block;
	width: 160px;
	margin: 14px 0 0 30px;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
}

.drills__price-before {
	display: block;
	margin: 12px 0 0 3px;
	font-size: 17px;
	line-height: 18px;
	font-weight: 700;
	text-decoration: line-through;
	color: #a9a9a9;
}

.drills__price {
	position: relative;
	display: block;
	width: 67px; 
	margin: 10px auto;
	margin-bottom: 20px;
	padding: 10px 30px;
	color: #ffffff;
	font-weight: 700;
	line-height: 20px;
	background: #ee3643;
	border-radius: 3px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 17px;
}


.drills__price::after {
	content: "";
	position: absolute;
	top: 0;
	right: -38px;
	width: 0;
	height: 0;
	border: 20px solid white;
	border-left-color: #ee3643;
}


.drills__actions {
	display: none;
	position: absolute;
	top: 0;
	left: 0;
	width: 218px;
	height: 80px;
	padding: 48px 0;
	background-color: rgba(255, 255, 255, 0.9);
	z-index: 10;
}

.drills__item:hover .drills__actions {
	display: block;
}

.drills__actions .buy,
.drills__actions .bookmark {
	display: block;
	width: 129px;
	margin: 0 auto;
	margin-bottom: 7px;
	padding: 7px 0;
	border: 3px solid #63a63e;
	border-bottom-color: #367315;
	background: #63a63e;
	color: #ffffff;
	font-size: 14px;
	font-weight: 400;
	font-family: "Cuprum", "Tahoma", serif;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 3px;
}

.drills__actions .buy {
	background: url("../img/drill-buy.svg") no-repeat 10% 41%,
							#63a63e;
}

.drills__actions .buy:hover {
	border-right-color: #5fbb2d;
	border-left-color: #5fbb2d;
	border-top-color: #5fbb2d;
	background: url("../img/basket-hover.svg") no-repeat 10% 41%,
							#5fbb2d;
}

.drills__actions .buy:active {
	border-color: #518534;
	background: url("../img/drill-buy.svg") no-repeat 10% 41%,
							#518534;
}

.drills__actions .bookmark {
	color: #32425c;
	background: #ffffff;
	border-bottom-color: #63a63e;
}

.drills__actions .bookmark:hover {
	border-color: #32425c;
}

.drills__actions .bookmark:active {
	color: rgba(0, 0, 0, 0.3);
	border-color: #c1c6ce;
}


.manufacturers {
	margin-top: 20px;
}

.manufacturers__items {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	margin-top: 20px;
}

.manufacturers__item {
	display: block;
	width: 218px;
	height: 143px;
	margin-bottom: 20px;
	border: 1px solid #e5e5e5;
	text-align: center;
}

.manufacturers__item:active {
	opacity: 0.3;
}

.manufacturers__item img {
	margin-top: 50px;
}

img[alt="Интерскол"],
img[alt="АЕГ"] {
	margin-top: 20px;
}

img[alt="Метабо"],
img[alt="ЭлДжи"] {
	margin-top: 32px;
}

img[alt="Хитачи"] {
	margin-top: 55px;
}

.service--wrapper {
	background: #f4f8f9;
}

.service {
	width: 940px;
	margin: 0 auto;
	margin-top: 65px;
	padding: 37px 0 100px 0;
	background: #f4f8f9;
}

.service__title {
	font-size: 30px;
	font-weight: 400;
	text-transform: uppercase;
}

.service__desc,
.list__desc {
	font-family: "PT Sans", "Tahoma", serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
}


.service--container {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-top: 68px;
}

.service__list {
	position: relative;
	width: 240px;
	margin: 0;
	padding: 0;
	list-style: none;
}

.service__list::after {
	content: "";
	top: -45px;
	right: 0;
	width: 10px;
	height: 272px;
	background: url("../img/shadow.png") no-repeat;
	position: absolute;
}

.service__item {
	position: relative;
	display: block;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 15px 140px 15px 22px;
	font-size: 21px;
	line-height: 30px;
	font-weight: 700;
	text-decoration: none;
	background: #32425c;
	color: #ffffff;
	border-bottom: 1px solid #293449;
}

.service__item:hover {
	background: #293449;
}

.service__item:focus {
	background: #ffffff;
	color: #293449;
}

.service__active {
	background: #ffffff;
	color: #293449;
}

.service__active:hover {
	background: #ffffff;
	color: #293449;
}

.service__active:focus {
	background: #ffffff;
	color: #293449;
}

.service__delivery {
	width: 100%;
	background: url("../img/delivery-list.png") no-repeat right 23px;
}

.service__guarantee {
	display: none;
	width: 100%;
	background: url("../img/guarante.png") no-repeat right top;
}

.service__credit {
	display: none;
	width: 100%;
	background: url("../img/credit.png") no-repeat right top;
}

.list__title {
	display: block;
	width: 200px;
	margin: -6px 0 0 79px;
	font-size: 36px;
	text-transform: uppercase;
	color: #32425c;
}

.list__desc {
	width: 278px;
	margin: 24px 0 0 80px;
}

.service__guarantee .list__desc {
	width: 375px;
}

.service__credit .list__desc {
	width: 280px;
}

.credit__btn {
	display: block;
	width: 194px;
	height: 39px;
	margin: 27px 0 0 79px;
	padding: 10px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	background: #ff5357;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
}


.features {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 940px;
	margin: 0 auto;
	padding-bottom: 85px;

}

.features--left-column {
	width: 520px;
}

.features--right-column {
	width: 420px;
}

.features__title {
	margin: 83px 0 30px 0;
	font-size: 30px;
	line-height: 24px;
	text-transform: uppercase;
	font-weight: 400;
}

.features__desc {
	margin-bottom: 22px;
	font-family: "PT Sans", "Tahoma", serif;
	font-size: 13px;
	line-height: 24px;
	font-weight: 400;
}

.features__list {
	margin: 0;
	padding: 0;
	list-style: none;
}

.features__list li {
	position: relative;
	margin-bottom: 20px;
  padding-left: 36px;
	font-size: 18px;
	line-height: 20px;
	font-weight: 400;
}

.features__list li::before {
	content: "";
	position: absolute;
	left: 0;
	top: 50%;
	width: 25px;
	height: 2px;
	background: #ee3643;
}

.features__btn {
	display: block;
	width: 220px;
	height: 39px;
	margin: 36px 24px 0 0;
	padding: 10px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	background: #ee3643;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none; 
}

.features--right-column .features__title {
	margin-left: 120px;
}

.features--right-column .features__desc {
	width: 200px;
	margin-left: 120px;
}

.features__map	{
	position: relative;
	display: block;
	text-align: right;
	margin-top: 30px;
}

.features--right-column .features__btn {
	width: 300px;
	margin-left: 120px;
}




.main-footer {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	background: #32425c;
}

.main-footer__top--wrapper {
	background: #32425c;
}

.main-footer__bottom--wrapper {
	background: #293449;
}

.main-footer__top {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 940px;
	padding-bottom: 50px;
	margin: 0 auto;
	background: #32425c;
}

.main-footer__top__top,
.main-footer__top__bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.main-footer__top__top .user-block__logo {
  padding: 21px 0;
  font-size: 30px;
}

.top-nav-list,
.bottom-nav-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0;
	margin-top: 38px;
	padding: 0;
	list-style: none;
}

.bottom-nav-list {
	margin-top: 31px;
}

.top-nav-item,
.bottom-nav-item {
	display: block;
	padding: 0 30px 0 29px;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	color: #ffffff;
	text-decoration: none;
}

.bottom-nav-item {
	color: #ffd180
}

.top-nav-item:hover,
.bottom-nav-item:hover {
	text-decoration: underline;
}

.top-nav-item:active,
.bottom-nav-item:active {
	text-decoration: none;
	opacity: 0.5;
}

.last-child {
	padding-right: 0;
}

.main-footer__bottom {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 940px;
	margin: 0 auto;
	padding-bottom: 20px;
	background: #293449;
}

.footer__adress {
	margin: 30px 0 0 4px;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
	color: #ffffff;
	font-style: normal;
}

.copyright {
	width: 240px;
	margin-top: 37px;
	font-size: 16px;
	color: #ffffff;
}

.socials {
	width: 130px;
	margin: 36px 0 0 152px;
}

.feedback {
	width: 138px;
	margin: 36px 0 0 118px;
	color: #ffffff;
}

.developed {
	width: 100px;
	margin: 36px 0 0 51px;
	color: #ffffff;
}

.feedback a,
.developed a {
	font-size: 16px;
	color: #ffd180;
	text-decoration: none;
}

.feedback a:hover,
.developed a:hover {
	text-decoration: underline;
}

.feedback a:active,
.developed a:active {
	color: #ee3643;
	text-decoration: none;
}

.social-btn {
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	vertical-align: top;
}

.vk-btn {
	background: url("../img/vk.png") no-repeat 50%,
							#212a3a;
}

.fb-btn {
	background: url("../img/fb.png") no-repeat 50%,
							#212a3a;
}

.insta-btn {
	background: url("../img/insta.png") no-repeat 50%,
							#212a3a;
}

.vk-btn:hover,
.fb-btn:hover,
.insta-btn:hover {
	background-color: #ee3643;
}

.modal-feedback {
	position: fixed;
  bottom: 100px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 200;
  display: none;
  background: #ffffff;
	margin: 0 auto;
	width: 620px;
	padding: 45px 80px 37px 80px;
	box-sizing: border-box;
	border-top: 7px solid #ff5357;
	box-shadow: 0 20px 40px 0 rgba(0, 0, 0, 0.5);
}

.modal-feedback__close {
	position: absolute;
	right: 10px;
	top: 10px;
	width: 21px;
	height: 21px;
	z-index: 100;
	background: url("../img/modal-close.png") no-repeat, transparent;
	font-size: 0;
	border: none;
	cursor: pointer;
}

.modal-feedback__form label {
	width: 220px;
	font-size: 18px;
	font-weight: 400;
	line-height: 18px;
}

.modal-feedback__form input {
	width: 220px;
	margin-top: 13px;
	padding: 9px 13px;
	box-sizing: border-box;
	border: 2px solid #dee3e4;
	border-radius: 3px;
	font-family: "PT Sans", "Tahoma", serif;
}

.modal-feedback__form__data {
	display: flex;
	justify-content: space-between;
	margin-bottom: 19px;
}

.modal-feedback__form__text {
	display: flex;
}

.modal-feedback__form__text label {
	width: 100%;
}

.modal-feedback__form__text textarea {
	height: 110px;
	width: 100%;
	margin-top: 13px;
	padding: 13px 9px;
	box-sizing: border-box;
	border: 2px solid #dee3e4;
	border-radius: 3px;
	font-family: "PT Sans", "Tahoma", serif;
}

.modal-feedback__form__btn {
	display: block;
	width: 100%;
	height: 39px;
	margin: 27px 24px 0 0;
	padding: 10px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	background: #ee3643;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.modal-feedback__form__btn:hover {
	background: #ca2c37;
}

.modal-feedback__form__btn:active {
	background: #ba2732;
}

:focus::-webkit-input-placeholder {
  color: transparent;
  }

:focus::-moz-placeholder {
  color: transparent;
}

:focus:-moz-placeholder {
  color: transparent;
}

:focus:-ms-input-placeholder {
  color: transparent;
}

.modal-feedback__form__text input::-webkit-input-placeholder {
  color: #a9a9a9;
  font-size: 13px;
}

textarea::-webkit-input-placeholder {
  color: #a9a9a9;
  font-size: 13px;
}

.modal-feedback__form__text input::-moz-placeholder {
  color: #a9a9a9;
  font-size: 13px;
}

textarea::-moz-placeholder {
  color: #a9a9a9;
  font-size: 13px;
}

.modal-map {
	display: none;
	position: absolute;
	left: -125%;
	top: -141px;
	bottom: 200px;
	margin: 0 auto;
	z-index: 2;
	width: 940px;
	height: 446px;
	box-shadow: 0 0 8px 16px rgba(0, 0, 0, 0.5);
	background: url("../img/map-big.jpg") no-repeat;
}

.modal-show {
	display: block;
}
